<p>ticker-details works!</p>

<div class="container p-5">

  

  <!-- <div class="row gx-4 gy-2" >
    <div class="col">
      <div class="p-2 border bg-light"><strong>ADVICE</strong></div>
    </div>  
    <div class="col">
      <div class="p-2 border bg-light">{{field_advice}}</div>
    </div>  

  </div>

  <div class="row gx-4 gy-2" *ngFor="let key_ of tickerKeys;let i=index">

    

    <div class="col">
      <div class="p-2 border bg-light"><strong>{{key_.replaceAll('_', ' ').toUpperCase()}}</strong></div>
    </div>
    <div class="col">
      <div class="p-2 border bg-light">{{ticker[key_]}}</div>
    </div>

  </div> -->

  <!-- <h2>Horizontal Definition List</h2> -->

  
<div class="row">
  <div class="col-4">
    <h4 class="text-primary"> Details of {{ticker.ticker}}</h4>
    <h6 class="text-success"><strong>Market Capital: {{ticker.market_cap}}</strong></h6>
  <dl class="dl-horizontal">
    <dt>ADVICE</dt>
    <dd>{{field_advice}}</dd>
  </dl>
  <div class="container-list">
    <dl class="dl-horizontal" *ngFor="let key_ of tickerKeys ">
      <dt>{{key_.replaceAll('_', ' ').toUpperCase()}}</dt>
      <dd>{{key_==="address" ? ticker[key_].address1: ticker[key_]}}</dd>
    </dl>
  </div>
</div>

<div class="col-7">
  <a [routerLink]="['/create-trade', ticker.ticker]" class="btn btn-warning btn-sm float-right mb-2" >Buy</a>
<div class="container-graph">
  <app-trade-graph></app-trade-graph>
</div>
</div>


</div>
</div>





<!-- 

 -->