<div class="container p-5 pl-5">
	<div *ngIf="Trades.length !== 0">
		
		<div class=" p-5 table-responsive">
			<h3 class="py-3">History of Trades Registered</h3>
			<div class="form-group p-4">
				<!-- <label for="search-text">Search Text</label> -->
				<input type="email" class="form-control mt-2" id="search-text" aria-describedby="search-text" 
				  [(ngModel)]="searchText" placeholder="Enter text to search" 
				  autofocus>
			  </div>
			
			<table class="table table-bordered table-dark table-striped table-hover">
				<thead class="thread-dark">
					<tr>
						<!-- <th scope="col">Trade Id</th> -->
						<th scope="col">Ticker Name</th>
						<th scope="col">Buy/Sell</th>
						<th scope="col">Price</th>
						<th scope="col">Volume</th>
						<th scope="col">Status Code</th>
						<th scope="col">Time</th>
						<th scope="col">Operations</th>

					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let trade of Trades | tradeFilter : searchText | paginate: { itemsPerPage: 5, currentPage: p }" [ngClass]="{'table-danger': trade.statusCode===3,
		  	'table-success': trade.statusCode===2,
			'table-warning': trade.statusCode===1, 
			'table-primary': trade.statusCode===0}" class="rounded-pill">
						<!-- <td>{{trade.id}}</td> -->
						<td>{{trade.stockTicker}}</td>
						<td>{{trade.buyOrSell}}</td>
						<td>{{trade.price}}</td>
						<td>{{trade.volume}}</td>
						<td>{{getStatusPhrase(trade.statusCode)}}</td>
						<td>{{trade.timestamp}}</td>
						<td>
							<!-- <a [routerLink]="['/edit-trade', trade.id]" class="btn btn-primary btn-sm float-right" >Edit</a>&nbsp; -->
							&nbsp;<a [routerLink]="" (click)="deleteTrade(trade.id)" *ngIf="trade.statusCode===3"
								class="btn btn-danger btn-sm float-right">Delete</a>
							<button class="btn btn-warning btn-sm float-right"
								[disabled]="trade.statusCode===2?true:false" *ngIf="trade.statusCode!==3"
								(click)="getTrade(trade.id)"><span
									class="glyphicon glyphicon-refresh"></span>Refresh</button>
						</td>
					</tr>
				</tbody>
			</table>

			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>
</div>