<div class="container p-5">
    <h2 class="pt-5">Edit the Trade</h2>

    <div class="pd-5">
        <form (ngSubmit)="editTrade(trade.id)">

            <div class="form-group row">
                <label for="stockTicker" class="col-sm-2 col-form-label">Ticker Nmae</label>
                <div class="col-sm-5">
                    <input type="text" placeholder="Ticker Name" name="tradeStockTicker"
                        [(ngModel)]="trade.stockTicker">
                </div>
            </div>
            <div class="form-group row">
                <label for="tradeBuyOrSell" class="col-sm-2 col-form-label">Buy/Sell</label>
                <div class="col-sm-5">
                    <input type="text" placeholder="Buy Or Sell" name="tradeBuyOrSell" [(ngModel)]="trade.buyOrSell">
                </div>
            </div>
            <div class="form-group row">
                <label for="tradePrice" class="col-sm-2 col-form-label">Trade Price</label>
                <div class="col-sm-5">
                    <input type="number" placeholder="Trade Price" name="tradePrice" [ngModel]="trade.price"
                        (ngModelChange)="setTradePrice($event)">
                </div>
            </div>
            <div class="form-group row">
                <label for="tradePrice" class="col-sm-2 col-form-label">Trade Volume</label>
                <div class="col-sm-5">
                    <input type="number" placeholder="Trade Volume" name="tradeVolume" [ngModel]="trade.volume"
                        (ngModelChange)="setTradeVolume($event)">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm float-right">Edit</button>
        </form>
    </div>
</div>