<!-- <div class="container p-10"> -->
<div class="container p-5">

  

  <div *ngIf="tickers.length !== 0">

    <div class="form-group p-4">
      <!-- <label for="search-text">Search Text</label> -->
      <input type="email" class="form-control mt-2" id="search-text" aria-describedby="search-text" 
        [(ngModel)]="searchText" placeholder="Enter text to search" 
        autofocus>
    </div>

    <div class="col-md-12 ">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr No</th>
            <th scope="col">Ticker </th>
            <th scope="col">Company Name</th>
            <th scope="col">Location</th>
            <th scope="col">Industry</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i = index;let ticker of tickers | filterTickers: searchText | paginate: { itemsPerPage: 8, currentPage: p }">
            <td>{{i+1}}</td>
            <td><a [routerLink]="['/ticker-details', ticker.ticker]">{{ticker.ticker}}</a></td>
            <td>{{ticker.name}}</td>
            <td>{{ticker.locale}}</td>
            <td>{{ticker.primary_exchange}}</td>

          </tr>
        </tbody>
      </table>

      <pagination-controls (pageChange)="p = $event">
      </pagination-controls>
    </div>
  </div>
</div>
<!-- </div> -->