<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <div class="container">
    <a routerLink="" routerLinkActive="active" class="navbar-brand">Trade Management</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item">
          <a routerLink="/create-trade" routerLinkActive="active" class="nav-link">Add a trade</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="/trade-list" routerLinkActive="active" class="nav-link">History</a>
        </li>
        <li class="nav-item">
          <a routerLink="/ticker-list" routerLinkActive="active" class="nav-link">Explore</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>